version: "3.8"

services:
  instamint-frontend:
    build: .
    ports:
      - "3000:3000"

  api-user:
    build: ./src/api-user
    ports:
      - "4000:4002"
    environment:
      DATABASE_URL: postgresql://user:password@postgres-db:5432/instamintdb
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
    volumes:
      - ./src/api-user:/usr/src/app
      - /usr/src/app/node_modules

  api-relation:
    build: ./src/api-relation
    ports:
      - "4001:4000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres-db:5432/instamintdb
  api-post:
    build: ./src/api-post
    ports:
      - "4002:4000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres-db:5432/instamintdb

  api-notification:
    build: ./src/api-notification
    ports:
      - "4003:4000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres-db:5432/instamintdb  
      
  api-nft:
    build: ./src/api-nft
    ports:
      - "4004:4000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres-db:5432/instamintdb

  postgres-db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: instamintdb
      POSTGRES_HOST: 127.0.0.1
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres-db

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  postgres-data: 